* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

::-moz-selection {
    background-color: rgba(255, 255, 0, 0.4);
}

::selection {
    background-color: rgba(255, 255, 0, 0.4);
}

body {
    font-family: "Bahnschrift";
    background-color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: yellow;
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px;
    padding: 15px 20px;
}

a:visited {
    text-decoration: none;
    color: yellow;
}

a:hover {
    border-bottom: 2px solid yellow;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    color: yellow;
}

.btn {
    padding: 20px;
    border: 2px solid yellow;
    border-radius: 10px;
}

.navbar {
    background-color: rgb(0, 144, 155);
    height: 70px;

}

.showcase {
    background-color: rgb(0, 144, 155);
    height: 300px;
}

.showcase .container {
    padding: 50px 0;
}

.showcase-text h2 {
    color: yellow;
    font-size: 35px;
}

.showcase-text p {
    color: yellow;
    font-size: medium;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 2px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 15px;
    font-weight: bold;
    background-color: yellow;
}

input:focus {
    outline: none;
}


/* stats */
.stats {
    padding-top: 100px;

}

.text-center {
    text-align: center;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 30px;
    margin: 1rem;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

.stats .grid-3 {
    margin: 2rem 0;
}

/* cli  */
.cli .grid {
    margin-top: -40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}


/* cloud */
.cloud {
    background: rgb(0, 144, 155);
}

.cloud h2 {
    color: yellow;
    font-size: 35px;
    margin: 1rem;
}

.cloud p {
    color: yellow;
    font-size: 20px;
    margin-bottom: 1rem;
}

.cloud .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer  */
footer {
    background-color: rgb(0, 144, 155);
}

footer a:hover{
    border: none;
}
/* utilities */
.container {
    max-width: 1100px;
    padding: 20px 40px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;

}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: yellow;
    color: #333;
    position: relative;
    width: 350px;
    height: 320px;
    top: 40px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    overflow: visible;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.submit {
    border: 2px solid #333;
    padding: 20px 0;
    width: 100px;
    cursor: pointer;
    margin-right: 200px;
}

img {
    width: 100%;
    height: auto;
}

.cli .grid .card {
    height: fit-content;
    top: 0%;
    margin: auto;
}

.languages .card {
    width: auto;
    height: fit-content;
    top: 0%;
    margin: auto;
    background-color: #fff;
}

.languages .card img {
    width: auto;
}

.languages .flex {
    flex-wrap: wrap;
}